[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError

[run]
source = 
    prism_api
    rexflow_ui
omit = 
    prism_api/__main__.py
    prism_api/tests/*
    rexflow_ui/tests/*
